.likeButton {
    background-color: rgb(231, 76, 60);
    color: white;
    padding: 0.8rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.likeButton:hover {
    background-color: rgba(231, 76, 60, 0.8);
}

.likeButton.liked {
    background-color: #d4cfcf;
}
